# Importing Modules

In [1]:
#importing the required libraries
import pandas as np

# Loading Dataset

In [2]:
# loading the dataset
data = np.read_csv(r"dirty_cafe_sales.csv")

In [3]:
# displaying the first few rows of the dataset
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

# Removing Trailing spaces on Columns

In [4]:
# Removing trailing spaces on column names and add an underscore for easy readability
data.columns = data.columns.str.strip().str.replace(" ", "_");

In [5]:
data.head()

,Transaction_ID,Item,Quantity,Price_Per_Unit,Total_Spent,Payment_Method,Location,Transaction_Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

# Remove extra spaces in strings fields

In [6]:
# removing spaces in string values for all columns
string_columns = data.select_dtypes(include=['object']).columns
data[string_columns] = data[string_columns].apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [7]:
data.head()

,Transaction_ID,Item,Quantity,Price_Per_Unit,Total_Spent,Payment_Method,Location,Transaction_Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

# Converting Data Fields into appropriate data types

In [8]:
# converting Quantity, Price Per Unit, and Total Spent to a int data types
int_columns = ["Quantity", "Price_Per_Unit", "Total_Spent"]

# using for loop to change all column at once  
for column in int_columns:
    data[column] = np.to_numeric(data[column], errors='coerce')
    # filling NaN values with 0 and converting to int
    data[column] = data[column].fillna(0).astype(int)

In [9]:
# converting Transaction_Date to datetime format
data['Transaction_Date'] = np.to_datetime(data['Transaction_Date'], errors='coerce')

# Replacing Invalid Placeholders

In [10]:
# replacing "Error" and "Unknown" values with NaN 
data.replace(["ERROR", "UNKNOWN"], np.NA, inplace=True)

# Finding missing values

In [11]:
# finding missing values
total_missing_value = data.isnull().sum()
print(total_missing_value)

# total null values
print(f"Total null values: {data.isnull().sum().sum()}")

Transaction_ID         0
Item                 969
Quantity               0
Price_Per_Unit         0
Total_Spent            0
Payment_Method      3178
Location            3961
Transaction_Date     460
dtype: int64
Total null values: 8568

In [12]:
# percentage of missing values
for column in data.columns:
    percentage = data[column].isnull().mean()
    if percentage > 0:
        print(f'{column}: {round(percentage * 100,2)}%')

Item: 9.69%
Payment_Method: 31.78%
Location: 39.61%
Transaction_Date: 4.6%

In [13]:
# defining a function to fill missing values
columns_to_fill = ['Item','Quantity', 'Price_Per_Unit', 'Total_Spent', 'Payment_Method', 'Location', 'Transaction_Date']

# filling missing values with 'Unknown'
data[columns_to_fill] = data[columns_to_fill].fillna('Unknown')

# checking if there are any missing values left
missing_values = data.isnull().sum()
print(missing_values)

Transaction_ID      0
Item                0
Quantity            0
Price_Per_Unit      0
Total_Spent         0
Payment_Method      0
Location            0
Transaction_Date    0
dtype: int64

In [14]:
data.head()

,Transaction_ID,Item,Quantity,Price_Per_Unit,Total_Spent,Payment_Method,Location,Transaction_Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,2023-09-08 00:00:00
1,TXN_4977031,Cake,4,3,12,Cash,In-store,2023-05-16 00:00:00
2,TXN_4271903,Cookie,4,1,0,Credit Card,In-store,2023-07-19 00:00:00
3,TXN_7034554,Salad,2,5,10,Unknown,Unknown,2023-04-27 00:00:00
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,2023-06-11 00:00:00

In [15]:
# checking the data types of the columns
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    10000 non-null  object
 1   Item              10000 non-null  object
 2   Quantity          10000 non-null  int64
 3   Price_Per_Unit    10000 non-null  int64
 4   Total_Spent       10000 non-null  int64
 5   Payment_Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction_Date  10000 non-null  object
dtypes: int64(3), object(5)
memory usage: 625.1+ KB
None

In [16]:
# summary statistics of the data
print(data.describe())

           Quantity  Price_Per_Unit   Total_Spent
count  10000.000000    10000.000000  10000.000000
mean       2.883400        2.736100      8.443000
std        1.528214        1.469038      6.194739
min        0.000000        0.000000      0.000000
25%        2.000000        1.000000      4.000000
50%        3.000000        3.000000      7.000000
75%        4.000000        4.000000     12.000000
max        5.000000        5.000000     25.000000

In [ ]:
# In pandas data frame 
# Axis 0 refers to rows and Axis 1 refers to columns

# Calculating Total Units for missing values

In [17]:
# calculating missing values in Total Spent column
data['Total_Spent'] = data['Quantity'] * data['Price_Per_Unit']

# Calculating Price_Per_Units for missing values

In [18]:
# calculating Price_Per_Unit where Quantity and Total_Spent are not null
# using apply function to calculate the Price_Per_Unit
data["Price_Per_Unit"] = data.apply(
    lambda x: x["Total_Spent"] / x["Quantity"] if x["Quantity"] and x["Total_Spent"] != 0 else 0, axis=1
).astype(int)

# Calculating Quantity for missing values

In [19]:
# calculating Quantity where Price_Per_Unit and Total_Spent are not null
# using apply function to calculate the Quantity
data["Quantity"] = data.apply(
    lambda x: x["Total_Spent"] / x["Price_Per_Unit"] if x["Price_Per_Unit"] and x["Total_Spent"] != 0 else 0, axis=1
).astype(int)

# Dropping duplicates

In [20]:
# checking for duplicates
data.drop_duplicates(inplace=True)
# checking for duplicates in Transaction_ID column
duplicates = data[data.duplicated(subset=['Transaction_ID'], keep=False)]
print(f"Total duplicates in Transaction_ID: {duplicates.shape[0]}")
# checking for the total number duplicates 
print(f"Total duplicates: {data.duplicated().sum()}")

Total duplicates in Transaction_ID: 0
Total duplicates: 0

# Sorting data in Ascending Order

In [21]:
# checking for duplicates in Transaction_ID column
data.sort_values(by='Transaction_ID', ascending=True, inplace=True)

In [22]:
data.sort_index()

,Transaction_ID,Item,Quantity,Price_Per_Unit,Total_Spent,Payment_Method,Location,Transaction_Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,2023-09-08 00:00:00
1,TXN_4977031,Cake,4,3,12,Cash,In-store,2023-05-16 00:00:00
2,TXN_4271903,Cookie,4,1,4,Credit Card,In-store,2023-07-19 00:00:00
3,TXN_7034554,Salad,2,5,10,Unknown,Unknown,2023-04-27 00:00:00
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,2023-06-11 00:00:00
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2,4,Unknown,Unknown,2023-08-30 00:00:00
9996,TXN_9659401,Unknown,0,0,0,Digital Wallet,Unknown,2023-06-02 00:00:00
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,Unknown,2023-03-02 00:00:00
9998,TXN_7695629,Cookie,0,0,0,Digital Wallet,Unknown,2023-12-02 00:00:00
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,2023-11-07 00:00:00

In [23]:
# checking for anomaly values in the data
anomalies = data[(data['Quantity'] < 0) | (data['Price_Per_Unit'] < 0) | (data['Total_Spent'] < 0)]
print(f"Total anomalies: {anomalies.shape[0]}")

Total anomalies: 0